button img {
    height: 48px;

}

button {
    cursor: pointer;
    background-color: #07032e42;
    border: none;
    border-radius: 18px;
}


.button_section {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

}


.btn_arrows {
    margin-bottom: 18px;
    ;
}

.next_btn {
    background-color: #fff;
}

.search_btn {
    background-color: white;
}

.search_btn_icon {
    height: 24px;
}
