.card_bg {
    min-height: 586px;
}

.card_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.type_container {
    padding: 18px 0px;
}

.card_footer {
    display: flex;
    justify-content: center;

}

#card_section_content {
    display: flex;
    max-width: 1440px;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 0 20px;
    margin-bottom: 90px;


}

.card_header {
    background-color: #07032e42;
}


.pokecard_style {
    background-color: #07032e;
    color: white;
    margin-top: 50px;
    width: 300px;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    transition: all 0.5s ease;

}

.img_container {
    display: flex;
    justify-content: center;

}

.pokecard_style:hover {
    transform: rotate(12deg) translateY(-12%) scale(1.03) rotatex(-35deg);
    transition: 0.45s ease-out;
    box-shadow: 0 0 24px rgba(0, 255, 255, 0.705);
    cursor: pointer;
}

.type-icons {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.type-icon {
    width: 30px;
    height: 30px;
}

.btn_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}